.hidden {
    display: none;
}

label {
    margin-bottom: 10px;
    display: block;
}

#authentification {
    display: flex;
    justify-content: center;
}

#btn-login,
#btn-logout {
    font-size: 1em;
    margin: 10px;
    width: 120px;
    height: 30px;
    border-radius: 20px;
    color: green;
}